In [2]:
d = {"name" : "hello"}
d

{'name': 'hello'}

In [4]:
# mixed keys
d = {(1,2,3):4, "name" : "Sunil kumar"}
print(d)

{(1, 2, 3): 4, 'name': 'Sunil kumar'}

In [5]:
# 2d dictionary
s = {
    'name':"Sunil kumar",
    'college': "CU",
    'subject':{
        'dsa':50,
        "maths":60,
        'english':40
    }
}
print(s)

{'name': 'Sunil kumar', 'college': 'CU', 'subject': {'dsa': 50, 'maths': 60, 'english': 40}}

In [8]:
dic = dict([("name","sunil"),("age",23)])
print(dic)

{'name': 'sunil', 'age': 23}

In [10]:
# duplicate keys are not allowed in dictionary
# mutable keys are also not allowed
d = {"name": "sunil" , (2,3,4):4}
print(d)
d1 = {"name": "sunil" , [2,3,4]:4} # list is mutable.. so not allowed
d1

{'name': 'sunil', (2, 3, 4): 4}

TypeError: unhashable type: 'list'

In [12]:
# fetching the data
my_dict = {"name": "sunil", "age" : 23, "status": "single"}
print(my_dict)
print(my_dict["name"]) # first method
print(my_dict.get("status")) # get method
 
# 2d dict
s = {
    'name':"Sunil kumar",
    'college': "CU",
    'subject':{
        'dsa':50,
        "maths":60,
        'english':40
    }
}
print(s["subject"]["maths"])

{'name': 'sunil', 'age': 23, 'status': 'single'}
sunil
single
60

# add in dict

In [16]:
# add in dict
my_dict['gender'] = "male"
my_dict[2]=4
my_dict
# add in 2d dict
s["subject"]["science"] = 60
s
my_dict.update({"Name":"Sanu"}) # update is used to update the dictionary
my_dict

{'name': 'Sanu',
 'age': 23,
 'status': 'single',
 'gender': 'male',
 2: 4,
 'Name': 'Sanu'}

# Delete from dict

In [38]:
# my_dict.pop(2) # delete by key
# my_dict
# my_dict.popitem() # delete last item from dict
# my_dict
d = {}
# print(d)
# del d # delete the dict completely
# print(d)
my_dict.clear() # empty the dict
print(my_dict)
print(s)
del s["subject"]["maths"] # deletion in 2d dict

{}
{'name': 'Sunil kumar', 'college': 'CU', 'subject': {'dsa': 50, 'maths': 60, 'english': 40, 'science': 60}}

# Editing in dict

In [42]:
my_dict = {"name": "sunil", "age" : 23, "status": "single"}
my_dict["age"] = 25
my_dict
print(s)
s["subject"]["english"]=50 # 2d dict
print(s)

{'name': 'Sunil kumar', 'college': 'CU', 'subject': {'dsa': 50, 'english': 40, 'science': 60}}
{'name': 'Sunil kumar', 'college': 'CU', 'subject': {'dsa': 50, 'english': 50, 'science': 60}}

# operation in dictionary

In [43]:
"names" in s # membership operator works on keys

False

In [45]:
# Iteration in dictionary
d = {"name": "sunil", "age" : 23, "status": "single"}
for i in d:
    print(i,d[i])

name sunil
age 23
status single

# function is dict

In [51]:
print(len(d))
print(min(d))
print(max(d))
print(sorted(d)) # convert in list
 # items/keys/values
print(d.items()) # dict to tuple
print(d.keys()) # print keys
print(d.values()) # print values

3
age
status
['age', 'name', 'status']
dict_items([('name', 'sunil'), ('age', 23), ('status', 'single')])
dict_keys(['name', 'age', 'status'])
dict_values(['sunil', 23, 'single'])

In [54]:
# update -> update a dict to another dict
dic1 = {1:3,4:4,2:9}
dic2 = {5:4,1:5,2:5}
dic1.update(dic2)
print(dic1)

{1: 5, 4: 4, 2: 5, 5: 4}

# Dictionary comprehension

In [57]:
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [61]:
dis = {"delhi": 6000,"mumbai":4000, "pune":8000}
{i:j*0.62 for i,j in dis.items()} # change in dict using dict comprehension

{'delhi': 3720.0, 'mumbai': 2480.0, 'pune': 4960.0}

In [65]:
days = ["Sunday", "Monday", "Tuesday", "Wed", "Thurs", "Friday", "Sat"]
temp_c = [30,32,33,34,35,36,37]
{i:j for i,j in zip(days,temp_c)} # using zip in dict comprehension

{'Sunday': 30,
 'Monday': 32,
 'Tuesday': 33,
 'Wed': 34,
 'Thurs': 35,
 'Friday': 36,
 'Sat': 37}

In [70]:
products = {'phone':10,'laptop':0,'charger':32,'table':0}
{i:j for i,j in products.items() if j > 0}

{'phone': 10, 'charger': 32}

In [74]:
{i:{j:i*j for j in range(1,11) }for i in range(2,5)} # nested dic comprehension

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}